*{
    background-color: rgb(231, 231, 165);
}
#div_buttons {
    border: 1px solid black;
}
h2 {
    text-align: right;
}

fieldset {
    background-color:rgb(231, 231, 165);
    border-color: black;
  }
  
  legend {
    background-color: rgb(231, 231, 165);
    color: black;
    padding: 5px 10px;
    
  }
  
  input {
    margin: 7px;
  }

.button {
    background-color: rgb(111, 111, 95);
    border: 1px solid black;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
}
.error {
  color: red;

}